<%# <h1>This is Home app page</h1>

<%= link_to "Articles listing", articles_path %> 
<%# <%= link_to "About page", about_path %> 
<div id="page-content">
  <div class="container" id="home-container">
    <div class="custom-jumbotron bg-light p-5 rounded-lg m-3 text-center text-black">
      <h1 class="display-4 simple-blog">Simple Blog</h1>
      <p class="lead">This is simple blog</p>
      <hr class="my-4">
      <p>You can write here whatever you want</p>
      <a class="btn btn-light btn-lg" href="#" role="button">Sign up</a>
      <%# <p>Photo by <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joanna Kosinska</a> on <a href="https://unsplash.com/s/photos/writing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p> %>
      
      
    
    
    </p>
        
    </div>
  </div>
</div>



