@import "bootstrap";

.navbar {
  background-color: coral !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-outline-success {
  border-color: white;
  color: white;
}
